:root {
    /* COLORS */
    --main-bg-text-color: #0d6efd;
    --max-column-width: 200px;
    --active-nav-bg-color: #c2e7ff;
    --hover-inactive-nav-bg-color: #d3dbe5;
    --required-field-color: rgb(168, 54, 54);
    --loading-icon-bg-color: #ded7d7;
    --loading-icon-line-color: #3498db;

    /* */
    --max-column-width: 150px;
    --min-column-width: 80px;
    --min-font-size: small;
}
body, button, form, option,input{
    font-size: var(--min-font-size);
}

.btn{
    font-size: var(--min-font-size);

}

.font-size{
    font-size: var(--min-font-size);
}

main {
    min-height: 500px; /* Altura máxima del main */
    overflow-y: auto; /* Muestra scroll si el contenido excede la altura */
    max-width: 70%;
}
.table .col-max-width {
    max-width: var(--max-column-width); /* 150px */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.bg-text-color {
    background-color: var(--main-bg-text-color);
}

.message-box {
    max-width: 400px; /* Reducir ancho máximo */
    margin: 1rem auto; /* Margen superior e inferior */
    padding: 10px 15px; /* Espaciado interno */
    border-radius: 8px; /* Bordes redondeados */
    font-size: 14px; /* Tamaño de fuente más pequeño */
    text-align: center; /* Opcional: Centra el texto */
}

.required-field::after {
    content: " *";
    color: var(--required-field-color);
    font-weight: bold;
}

/*SIDEBAR*/
.active-nav-link {
    background-color: var(--active-nav-bg-color);
    font-weight: 500;
}

.nav-link:not(.active-nav-link):hover {
    /*todos los '.nav-link' que no tienen la clase '.active-nav-link*/
    background-color: var(--hover-inactive-nav-bg-color);
}



td.text-truncate {
    white-space: normal;
    overflow: visible;
}

.col-min-width {
    min-width: var(--min-column-width);

}

/* Este estilo evita que se apliquen los estilos de hover cuando el submenú está abierto */
.no-hover:hover {
    background-color: transparent;
    color: inherit;
    cursor: default;
    /* Opcional: cambia el cursor para que no parezca un enlace */
}



/*LOADING-MODAL*/
.spinner {
    border: 4px solid var(--loading-icon-bg-color);
    /* Light grey */
    border-top: 4px solid var(--loading-icon-line-color);
    /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}
.fixed-footer {
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100px; /* Altura fija para el footer */
    display: flex;
    align-items: center; /* Centra verticalmente */
    justify-content: center; /* Centra horizontalmente */
    padding: 0; /* Eliminar padding */
    margin: 0; /* Eliminar margen */
    background-color: #f8f9fa; /* Color de fondo */
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1); /* Sombra superior */
}
/*SIDEBAR*/
.active-nav-link {
    background-color: var(--active-nav-bg-color);
    font-weight: 500;
}

.nav-link:not(.active-nav-link):hover {
    /*todos los '.nav-link' que no tienen la clase '.active-nav-link*/
    background-color: var(--hover-inactive-nav-bg-color);
}

.col-max-width {
    max-width: var(--max-column-width);
    overflow-wrap: break-word;
}

td.text-truncate {
    white-space: normal;
    overflow: visible;
}

.col-min-width {
    min-width: var(--min-column-width);

}

/*LOADING-MODAL*/
.spinner {
    border: 4px solid var(--loading-icon-bg-color);
    /* Light grey */
    border-top: 4px solid var(--loading-icon-line-color);
    /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.table td.text-truncate {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.table .col-max-width {
    max-width: var(--max-column-width);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
