:root {
    /* COLORS */
    --main-bg-text-color: #0d6efd;
    --active-nav-bg-color: #c2e7ff;
    --hover-inactive-nav-bg-color: #d3dbe5;
    --required-field-color: rgb(168, 54, 54);
    --loading-icon-bg-color: #ded7d7;
    --loading-icon-line-color: #3498db;

    /* */
    --max-column-width: 150px;
    --min-column-width: 80px;
}

.bg-text-color {
    background-color: var(--main-bg-text-color);
}

.required-field::after {
    content: " *";
    color: var(--required-field-color);
    font-weight: bold;
}

/*SIDEBAR*/
.active-nav-link {
    background-color: var(--active-nav-bg-color);
    font-weight: 500;
}

.nav-item:not(.active-nav-link):hover {
    /*todos los '.nav-item' que no tienen la clase '.active-nav-link*/
    background-color: var(--hover-inactive-nav-bg-color);

    .col-max-width {
        max-width: var(--max-column-width);
        overflow-wrap: break-word;
    }

    td.text-truncate {
        white-space: normal;
        overflow: visible;
    }

    .col-min-width {
        min-width: var(--min-column-width);

    }
}

/* Este estilo evita que se apliquen los estilos de hover cuando el submenú está abierto */
.no-hover:hover {
    background-color: transparent;
    color: inherit;
    cursor: default; /* Opcional: cambia el cursor para que no parezca un enlace */
}


/*LOADING-MODAL*/
.spinner {
    border: 4px solid var(--loading-icon-bg-color);
    /* Light grey */
    border-top: 4px solid var(--loading-icon-line-color);
    /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}
