.containerHeader {
    height: 52px;
}

.text-end {
    font-size: 14px;
    text-transform: uppercase;
    width: 100%;
}

.containerIconLogoutAndText {
    width: 23%;
    flex-direction: row;
}

.containerIconLogout {
    margin-left: 19%;
    padding-left: 24%;
    border-left: 1px solid #0000005e;
}

.imgFacultad {
    height: 58x;
    width: 154px;
}

.spanGestor {
    font-size: 15px;
    margin-bottom: 2%;
}

.iconLogout {
    transition: color 0.3s ease, transform 0.3s ease;
}

.iconLogout:hover {
    color: #fd0d11;
    /* azul bootstrap */
    transform: scale(1.2);
    /* efecto agrandar */
}

.logout {
    margin-bottom: 0;
    background-color: transparent;
    /*width: 100%;*/
    justify-content: center;
    padding: 3%;
    display: flex;
}